# Скрытые папки редакторов
.vs/
.vscode/
.env
# Папка с пакетами Node.js (она скачивается командой npm install, ее коммитить нельзя)
node_modules/

# Файл с холстом, чтобы не коммитить его каждый раз при сохранении
canvas.bin